			<!-- About the Porject -->
            <section id="banner">
                <header>
                    <h2>About the Project</h2>
                    <p>
                        TBC
                    </p>
                </header>
                <div class="wrapper style1">
                    <div class="container">
                        <div class="row">
                            {% include iconhyperlink.html col = "3" url="code" icon="solid fa-file-code" text="Code" %}	

                            {% include iconhyperlink.html col = "3" url="documentation" icon="solid fa-file-alt" text="Documentation" %}
        
                            {% include iconhyperlink.html col = "3" url="timeline" icon="solid fa-clock" text="Timeline" %}	

                            {% include iconhyperlink.html col = "3" url="people" icon="solid fa-address-card" text="People" %}	
                        </div>
                    </div>
                </div>
            </section>

            
