                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="{{ site.url }}/synthsense">Home</a></li>
                        <li>
                            <a href="{{ site.url }}/synthsense/code">Code</a>
                            <ul>
                                <li><a href="https://github.com/yqinic/djiosdk-synthsense">UAV Algorithm</a></li>
                                <li><a href="https://github.com/yqinic/contiki-synthsense">Embedded OS</a></li>
                                <li><a href="https://github.com/yqinic/UIWP">UIWP</a></li>
                                <!-- <li><a href="#">Etiam dolore nisl</a></li>
                                <li>
                                    <a href="#">And a submenu &hellip;</a>
                                    <ul>
                                        <li><a href="#">Lorem ipsum dolor</a></li>
                                        <li><a href="#">Phasellus consequat</a></li>
                                        <li><a href="#">Magna phasellus</a></li>
                                        <li><a href="#">Etiam dolore nisl</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Veroeros feugiat</a></li> -->
                            </ul>
                        </li>
                        <li><a href="{{ site.url }}/synthsense/documentation">Documentation</a></li>
                        <li><a href="{{ site.url }}/synthsense/timeline">Timeline</a></li>
                        <li><a href="{{ site.url }}/synthsense/people">People</a></li>
                    </ul>
                </nav>
