			<!-- Current Progress -->
            <section class="carousel">
                <div class="reel">

                    <article>
                        <a href="#" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Energy Modeling</a></h3>
                        </header>
                        <p>Model the energy consumption of sensor nodes.</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="/images/pic02.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Wireless Power Transfer</a></h3>
                        </header>
                        <p>Power sensor nodes wirelessly by inductive power transfer.</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">UWB Ranging</a></h3>
                        </header>
                        <p>With the ultra-wideband technology, ranging accuracy can reach cm level.</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">UAV Autonomous Operation</a></h3>
                        </header>
                        <p>Navigation algorithm assure UAVs operate automously.</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Communication Protocol</a></h3>
                        </header>
                        <p>UIWP is proposed to deal with the mobile node communication.</p>
                    </article>

                    <!-- <article>
                        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Pulvinar sagittis congue</a></h3>
                        </header>
                        <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Fermentum sagittis proin</a></h3>
                        </header>
                        <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                        </header>
                        <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Ultrices urna sit lobortis</a></h3>
                        </header>
                        <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#">Varius magnis sollicitudin</a></h3>
                        </header>
                        <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
                    </article> -->

                </div>
            </section>